

@font-face {
  font-family: 'platform';
  src: url('Platform-Bold.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'circular';
  src: url('CircularStd-Book.otf'); /* IE9 Compat Modes */
}


html {
  padding:0;
  margin:0;
  background-color:rgb(26,16,18);
  background-repeat: none;
  background: url('../images/national-prison-strike-poster-melanie-cervantes.jpg') #1b1214 no-repeat top;
  background-size: 100%;
}

body {
  padding:0;
  margin:0;
}

.container {
  position: relative;
  width:100vw;
  height:200vh;
  min-height:500px;
  overflow: hidden;
  padding-top:36vh;
  box-sizing: border-box;

}

p {
  margin:0;
}

h1 {
  display: block;
  width:100%;
  font-size: 4vw;
  margin:0;
  padding:0;
}

.slogan {
  font-size: 3vw;
}

.date {
  font-size: 2.8vw;
}
.links, .cosigns {
  width:100%;
  position:absolute;
  bottom:0;
  display:flex;
  padding:0;
  justify-content: center;

}
.links li {
  list-style: none;
  display:inline-block;
  padding:40px;
  padding-top: 70px;
  flex-direction: column;
}

.links a {
  color:white;
  font-family:'circular';
  padding:10px;
  background-color: #1b1214;
  display:inline-block;
  letter-spacing: 0.08em;
  text-decoration: none;
}

.cosigns li {
  list-style: none;
  padding:0 10px;
}

.cosigns a {
  font-size:16px;
  display:inline-block;
  padding:2px;
  padding-top:0;
  padding-bottom:0;
  font-family: 'platform';
  color: white;
  /*font-family:'circular';*/
  text-decoration: none;
  /*letter-spacing:0.04em;*/
}

.fc {
  color: white;
  text-align: center;
  font-family: 'platform';
  text-transform: uppercase;
  padding-top:20vw;
}

a {
  text-decoration: none;

}


@media only screen and (min-width : 300px) and (max-width: 650px) {
  .learn-more {
    display: none;
  }
  h1 {
    font-size:12vw;
  }
  .date {
    font-size: 6.5vw;
  }

  .slogan {
    font-size: 4.8vw;
  }

  .links {
    top:260px;
    font-size:4.3vw;
  }

  .links a {
    padding: 5px;
    background-color: transparent;

  }

  .links li {
    padding:10px;
    margin-bottom: 20px;
  }

  .cosigns a {
  display: none;
  }
}




